<h1>Hello, Bud!</h1>
<div class="jumbotron">
    <h1> Regulate those Projects</h1>
	<p>This is my smart To Do app, made with Ruby on Rails. Regulators... Mount up!</p>
	<%= link_to 'Sign up', "#", class: ' btn btn-primary btn-lg' %> 
</div>